body{
    margin: 0;
}

#batata-click{
  width: 20em;
}

#farm{
  display: grid;
/*  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;*/
  width: 100vw;
  height: 100vw;
  background-color: #793910;
}

.terra{
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../img/dirt.png);
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: content-box;
  background-color: #793910;
}

.fundo_terra{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.plantado .batata{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
