body{
    margin: 0;
}

html, body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

body > main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#farm{
  display: grid;
/*  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;*/
  background-color: #793910;
  box-sizing: border-box;
}

#select{
  background-color: grey;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

#select main{
  width: 100%;
  height: 70%;
  overflow: auto;
}

@media (orientation: portrait){
  main{
    flex-direction: column;
  }
  #farm{
    width: 100vw;
    height: 100vw;
  }
  #select{
    width: 100vw;
    max-height: 30vw;
    flex-direction: column;
  }
}

@media (orientation: landscape){
  main{
    flex-direction: row;
    /*padding: 0 5%;*/
  }
  #farm{
    width: 100vh;
    height: 100vh;
  }
  #select{
    width: 30%;
    max-width: 300px;
    height: 100vh;
    flex-direction: row;
  }
}

.terra{
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../img/dirt.png);
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: content-box;
  background-color: #793910;
}


.terra .batata{
  opacity: 0;
}

.plantado .batata{
  opacity: 1;
}

.batata{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.terra:hover::after{
  content: '';
  position: absolute;;
  width: 100%;
  height: 100%;
  border: 1px dashed #03a9f44f;
  z-index: 2;
  box-sizing: border-box;
}
/*:not(.plantado)*/
.terra:hover{
  transform: scale(1.1);
  z-index: 1;
  filter: brightness(1.02);
}

.terra.plantado:hover{
  filter: grayscale(1);
}

.plantado .barra{
  width: 80%;
  margin-left: 10%;
  height: 10%;
  background-color: #505050;
  border: 1px solid #484848;
  box-sizing: border-box;
  z-index: 9;
  content: '';
  position: absolute;
  bottom: 15%;
}

.plantado .progresso{
  position: absolute;
  width: 0%;
  height: 100%;
  content: '';
  background-color: blue;
}

.indicador{
  display: none;
}

.plantado .indicador{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: -50%;
  font-size: 75%;
  font-weight: bold;
  font-family: monospace;
  color: white;
}

.info_batata img,#select footer img{
  width: 3em;
  border: 5px solid grey;
  position: absolute;
  left: 10px;
  margin-left: 0;
  box-sizing: border-box;

  background-image: url(../img/dirt.png);
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: content-box;
  background-color: #793910;
}

.info_batata .informacao h2{
  display: inline;
  margin-top: 0;
  margin-left: 0;
}

.info_batata{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #939393;

  padding: 10px;
  box-sizing: border-box;
  border: 2.5px inset #646464;
}

.info_batata:hover{
  filter: brightness(0.9);
}

.info_batata .informacao{
  display: block;
  margin-left: 4.5em;
}

.info_batata .informacao p{
  margin: 0;
}

.info_batata.selecionado img{
  border-color: #4d7f4e;
}

#select footer{
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

#select footer img{
  width: 2em;
  height: 2em;
  position:static;
  margin-right: 1em;
}

#select footer span{
  font-weight: bold;
  font-size: 1.15em;
}

#select footer #batata_selecionada{
  font-weight: normal;
  font-size: .8em;
  display: block;
}

#select footer, #select header{
  width: 100%;
  height: 15%;
  background-color: #616161;
}
