#agradecimentos{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;

    width: 100%;
    height: 100%;
    
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#agradecimentos li{
    list-style: none;
}

#agradecimentos .nome{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}