#information{
    position: absolute;
    top: .5em;
    left: 50%;
    transform: translateX(-50%);

    /*height: 10%;*/
    max-height: 50px;
    min-width: 200px;
    background-color: rgb(255, 255, 255);

    z-index: 8;
    padding: .75em;
    border-radius: 5px;

    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
