#receitas{
    flex-wrap: wrap;
}

.receita, .receita_e{
    
}

body.print .sidebar, body.print #btn, body.print main > header, body.print #receitas > *:not(.print){
  display: none;
}

body.print #receitas{
  padding: 0;
}

body.print #receitas .print{
  display: flex;
  flex-direction: column;
  height: 100%;
}

p{
    font-size: 18px;
    /*padding: 0.5em;*/
  }
  .img_esq{
    display: inline;
    width: 100%;
  }/*
  .list{
    margin-left: 50px;
  }*/
  
  .receita{
    float: right;
    margin-bottom: 5em;
  }
  .receita_e{
    float: left;
    clear: both;
    margin-bottom: 5em;
  }