<style media="screen">
  .info_batata{
    position: relative;
    /*width: 100%;*/
    height: 100px;

    padding: 10px;
    box-sizing: border-box;

    background-color: white;
    border-radius: .5em;
    margin-top: .75em;
  }

  .info_batata:hover{
    filter: brightness(0.9);
  }

  .info_batata .informacao{
    width: 60%;
    margin-left: 20%;
    background-color: green;
  }

  .info_batata .informacao p{
    margin: 0;
  }

  .info_batata.selecionado img{
    border-color: #4d7f4e;
  }

  .info_batata img,#img_selecionada{
    width: 15%;
    position: absolute;
    left: 0; top: 50%;
    margin-top: -7.5%;
    margin-left: 10px;

    border: 5px solid #783910;
    border-radius: 2.5px;
    box-sizing: border-box;

    background-image: url(../img/dirt.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: content-box;
    background-color: #793910;
  }

  .info_batata .informacao h2{
    display: inline;
    margin-top: 0;
    margin-left: 0;
    font-family: monospace;
  }

  .comprarBt{
    background-color: red;
    width: 15%;
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 50%;
    /*margin-top: -7.5%;*/
  }

  body{background-color: #1f37bf}/*${img}*/
</style>

<div class="info_batata">
  <div class="img_quant">
    <img src="/assets/img/${img}">
    <span>x 0</span>
  </div>
  <div class="comprarBt">
    <p>Comprar!</p>
    <p>R$ ${preco},00</p>
  </div>
  <div class="informacao">
    <h2>${nome}</h2>
    <p>${descricao}</p>
    <p>Vale: R$ ${retorno},00</p>
  </div>
</div>
