<div class="slot vazio">
  <section class="naoVazio">
    <span class="icone delete" title="Deletar"><img src="assets/img/white-trash.png"></span>
    <figure>
      <img src="assets/img/farmer.png" alt="">
      <span class="icone load" title="Carregar"><img src="assets/img/white-download.png"></span>
      <span class="icone save" title="Salvar"><img src="assets/img/white-save.png"></span>
    </figure>
    <main>
      <h2>Fazenda de <span class="nome"></span></h2>
      <p>Iniciado em: <span class="inicio"></span></p>
      <p>Salvo em: <span class="ultimo"></span></p>
      <p>Dinheiros: R$<span class="dinheiro"></span></p>
    </main>
  </section>

  <section class="vazio">
    <h2>Slot vazio!</h2>
    <span>Novo Jogo</span>
  </section>
</div>
